@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

@import "_reset";

$Cyan: hsl(179, 62%, 43%);
$Bright_Yellow: hsl(71, 73%, 54%);
$Light_Gray: hsl(204, 43%, 93%);
$Grayish_Blue: hsl(218, 22%, 67%);


html {
    font-family: 'Karla', sans-serif;
}

body {
    font-size: 16px;
    font-weight: 700;
    background-color: $Light_Gray;
    display: grid;
    place-items: center;
    padding: 3rem;
}

.card > * {
    max-width: 100%;
    margin: 0 auto 0;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 18.9rem;
    border-radius: 5px;
    overflow: hidden;
    .join-section {
        background-color: white;
        grid-row: 1;
        grid-column: auto;
        padding: 2rem;
        h1 {
            color: $Cyan;
            font-size: 1.2rem;
        }
        strong {
            color: $Bright_Yellow;
            font-size: 0.9rem;
        }
        small {
            color: $Grayish_Blue;
            font-weight: 400;
        }
    }
    .subscription-section {
        background-color: $Cyan;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 2rem 2.4rem;
        h2 {
            font-size: 1rem;
        }
        strong {
            font-size: 2rem;
        }
        small {
            font-weight: 400;
            font-size: 0.95rem;
        }
        button {
            width: 100%;
            border-style: none;
            background-color: $Bright_Yellow;
            color: white;
            padding: 1rem;
            border-radius: 5px;
            box-shadow: 2px 5px 5px adjust-color($color: $Cyan, $hue: 0, $saturation: 0%, $lightness: -5%, $alpha: 1.0);
        }
    }
    .about-section {
        background-color: adjust-color($color: $Cyan, $hue: 0, $saturation: 0%, $lightness: 4%, $alpha: 1.0);
        color: white;
        padding: 2rem 4rem;
        h2 {
            font-size: 1.1rem;
        }
        ul {
            list-style: none;
            padding-left: 0;
        }
        li {
            font-weight: 400;
            font-size: 0.85rem;
            color: $Light_Gray;
            opacity: 0.8;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .card {
      grid-template-columns: 1fr;
      grid-template-rows: 40% 50%;
      max-width: 35rem;
      .join-section {
        grid-row: 1;
        grid-column: 1 / 3;
      }
    }
  }

p {
    padding: 0.5rem 0;
}

.see-through {
    opacity: 0.5;
}

.attribution {
    font-size: 11px; text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}